<section id="second" class="main">
  <header>
    <div class="container">
      <h2>Euismod sed feugiat lorem tempus magna</h2>
      <p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
      feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
    </div>
  </header>
  <div class="content dark style2">
    <section class="container">
      <div class="row">
				<div class="3u 12u(narrow)">
						<ul class="pricing p-green">
							<li>
								<img src="http://bread.pp.ua/n/settings_g.svg" alt="">
								<big>Start</big>
							</li>
							<li>Responsive Design</li>
							<li>Color Customization</li>
							<li>HTML5 & CSS3</li>
							<li>Styled elements</li>
							<li>
								<h3>$199</h3>
								<span>per month</span>
							</li>
							<li>
								<button>Join Now</button>
							</li>
						</ul>
				</div>

				<div class="3u 12u(narrow)">
						<ul class="pricing p-yel">
							<li>
								<img src="http://bread.pp.ua/n/settings_y.svg" alt="">
								<big>Good</big>
							</li>
							<li>Responsive Design</li>
							<li>Color Customization</li>
							<li>HTML5 & CSS3</li>
							<li>Styled elements</li>
							<li>
								<h3>$299</h3>
								<span>per month</span>
							</li>
							<li>
								<button>Join Now</button>
							</li>
						</ul>
				</div>

				<div class="3u 12u(narrow)">
						<ul class="pricing p-red">
							<li>
								<img src="http://bread.pp.ua/n/settings_r.svg" alt="">
								<big>Ultima</big>
							</li>
							<li>Responsive Design</li>
							<li>Color Customization</li>
							<li>HTML5 & CSS3</li>
							<li>Styled elements</li>
							<li>
								<h3>$399</h3>
								<span>per month</span>
							</li>
							<li>
								<button>Join Now</button>
							</li>
						</ul>
				</div>

				<div class="3u 12u(narrow)">
						<ul class="pricing p-blue">
							<li>
								<img src="http://bread.pp.ua/n/settings_b.svg" alt="">
								<big>Vip</big>
							</li>
							<li>Responsive Design</li>
							<li>Color Customization</li>
							<li>HTML5 & CSS3</li>
							<li>Styled elements</li>
							<li>
								<h3>$799</h3>
								<span>per month</span>
							</li>
							<li>
								<button>Join Now</button>
							</li>
						</ul>
				</div>
  		</div><!-- /row -->
    </section>
  </div>
</section>
